@import url(https://fonts.googleapis.com/css?family=Roboto+Slab|PT+Sans+Caption&subset=latin,cyrillic);
:root{
	/* Фоновое изображение для Prog.kiev.ua */
	--bacgroundimageprogkievua: url(https://i.pinimg.com/originals/c6/88/a0/c688a088dae6dc9267d4210d01b3a5cf.jpg);
}
*,
*:before,
*:after{
	box-sizing: inherit;
}
body{
	font-family: 'Roboto Slab', serif;
	font-weight: normal;
	margin: 0;
	background-color: white;
	
}
header{
	background-color: white;
	font-size: 29px;
	display: flex;
}
header .head{
	display: flex;
	justify-content: space-around;
	align-items: center;
	text-align: center;
	width: 100%;
}
.aboutmehead,
.wherestudyhead,
.myhwgitlabhead,
.contactshead{
	padding: 2px;
	border: solid black;
	border-width: 0px 0px 1px 0px;
	font-size: 29px;
}
.head a:hover{
	font-size: 32px;
}
.head a span{
	font-size: 29px; /* Сделать оформление GitLab*/
}
.logo{
	width: 100px;
	height: 70px;
	margin: 15px 0px 0px 25px;
}
/* Выдвижная панель начало */
#side-checkbox {
	display: none;
}
.side-panel {
	position: fixed;
	z-index: 999999;
	top: 0;
	left: -360px;
	background: white;
	transition: all 0.5s;
	width: 100px;
	height: 100vh;
	box-shadow: 10px 0 20px rgba(0,0,0,0.4);
	color: #FFF;
	padding: 40px 20px;
}
/* Оформление кнопки на странице */
.side-button-1-wr {
	text-align: center;
}
.side-button-1 .side-b {
	z-index: 1000000;
	margin: 10px;
	top: 90%;
	text-decoration: none;
	position: fixed;
	font-size: 16px;
	line-height: 15px;
	padding: 12px 13px;
	border: 1px solid white;
	color: #FFF;
	font-weight: bold;
	text-transform: uppercase;
	background: #FDAE35;
	cursor: pointer;
}
.side-button-1 .side-b:hover,
.side-button-1 .side-b:active,
.side-button-1 .side-b:focus {
	color: #FFF;
}
.side-button-1 .side-b:after,
.side-button-1 .side-b:before {
	position: absolute;
	height: 2px;
	left: 50%;
	bottom: -6px;
	content: "";
	transition: all 280ms ease-in-out;
	width: 0;
}
.side-button-1 .side-open:after,
.side-button-1 .side-open:before {
	background: green;
}
.side-button-1 .side-close:after,
.side-button-1 .side-close:before {
	background: #FDAE35;
}
.side-button-1 .side-b:before {
	top: -6px;
}
.side-button-1 .side-b:hover:after,
.side-button-1 .side-b:hover:before {
	width: 100%;
	left: 0;
}
/* Переключатели кнопки 1 */
.side-button-1 .side-close {
	display: none;
}
#side-checkbox:checked + .side-panel + .side-button-1-wr .side-button-1 .side-open {
	display: none;
}
#side-checkbox:checked + .side-panel + .side-button-1-wr .side-button-1 .side-close {
	display: block;
}
#side-checkbox:checked + .side-panel {
	left: 0;
}
/* Оформление кнопки на панеле */
.side-button-2 {
	font-size: 30px;
	border-radius: 20px;
	position: absolute;
	z-index: 1;
	top: 8px;
	right: 8px;
	cursor: pointer;
	transform: rotate(45deg);
	color: #FDAE35;    
	transition: all 280ms ease-in-out;    
}
.side-button-2:hover {
	transform: rotate(45deg) scale(1.1);    
	color: black;
}
/* Выдвижная панель конец */
.welcomepage{
	width: auto;
	background-color: #FDAE35;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
}
.welcometext{
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 100%;
}
.welcometext p{
	margin: 10px;
	font-size: 25px;
	font-weight: bold;
	color: whitesmoke;
	line-height: 1;
	text-shadow: black 0 0 5px;
}
.welcometext p:first-letter{
	font-size: 100%
}
.welcometext p:nth-child(1){
	text-shadow: none;
	font-size: 65px;
	margin-top: 30px;
	margin-bottom: 30px;
}
.welcome-image img{
	width: 400px;
	margin-right: 10px;
	margin-top: 10px;
	margin-bottom: 10px;
	border-radius: 20px;
}
a{
	text-decoration: none;
	border-bottom: 1px solid black;
	color: #FDAE35;
	font-size: 18px;
	line-height: 1;
	font-weight: bolder;
	/* -webkit-text-stroke: 1px black; */
}
.a-logo{
	border-bottom: none;
}
footer a{
	color: black;
	border-bottom: none;
}
footer a:hover{
	color: white;
}
/* Стилизация наведения на ссылки начало */
a:hover{
	font-size: 20px;
	color: black;
}
nav a:after {
	display: block;
	position: absolute;
	left: 0;
	width: 0;
	height: 2px; 
	background-color: #00a650;
	content: "";
	transition: width 0.3s ease-out;
}
nav a:hover:after,
nav a:focus:after {
	width: 80%;
}
.up:hover{
	font-size: large;
	color: black;
}
.up:after{
	display: block;
	position: absolute;
	left: 0;
	width: 0;
	height: 2px; 
	background-color: black;
	content: "";
	transition: width 0.3s ease-out;
}
.up:hover:after,
.up:focus:after{
	width: 0%
}
/* Стилизация наведения на ссылки конец */
.clicmenu {
	display: flex;
	flex-direction: column;
	align-items: center;
}
.container{
	margin-left: 15px;
	margin-right: 15px;
}
nav div{
	display: block;
	width: 80px;
	height: max-content;
	padding-bottom: 5px;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}
li{
	list-style-type: none;
	margin-bottom:15px;
	position: relative;
	border: 2px solid #D4D4D4;
	border-radius: 10px;
	box-shadow: 0 0 15px #A9A9A9;
	padding: 10px 20px;
	display: flex;
	flex-direction: column;
}
article li{
	list-style-type: none;
	margin-bottom:0 px;
	width:98%;
	background-color: none;
	position: relative;
	border: none;
	border-radius: 0px;
	box-shadow: none;
	padding: none;
	align-items: normal;
	margin-bottom: 0px;
	padding-inline-start: 0px;
}
ul{
	margin-left: 0;
	padding-left: 0;
}
h1{
	text-align: center;
	position: relative;
	background-color:  #FDAE35;
	background-size: 100%;
	border-radius: 10px;
	border: 2px solid #D4D4D4;
	box-shadow: 0 0 15px #A9A9A9;
}
h2{
	width: max-content;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	background-color:  #FDAE35;
	border-radius: 10px;
	padding: 2px 20px;
	border: 2px solid #D4D4D4;
	box-shadow: 0 0 15px #A9A9A9;
}
h3{
	width: max-content;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
}
p{
	text-align: justify;
	margin: 5px 0px 5px 0px;
	font-size: 25px;
}
p:first-letter{
	font-size: 110%;
	font-weight: bold;
}
span{
	font-size: 20px;
}
.code-and-result{
	text-align: center;
	margin-left: auto;
	margin-right: auto;
}
.code-and-result-no-center{
	text-align: left;
	margin-left: auto;
	margin-right: auto;
}
.center-code{
	margin-left: 50px;
	margin-right: 50px;
}
.code{
	display: block;
	text-align: center;
}
.aboutmeflex{
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.abouthmetext{
	height: auto;
}
.abouthmephoto img{
	width: 400px;
	margin-right: 10px;
	margin-left: 10px;
	margin-top: 10px;
	margin-bottom: 10px;
	border-radius: 20px;
}
.link-kievprogua{
	font-size: 25px;
}
.link-kievprogua:hover{
	font-size: 28px;
}
/* Фоновое изображение для Prog.kiev.ua начало */
.wherestudy-text {
	position: relative;
}
.wherestudy-text h3{
	text-indent: 30px;
}
.wherestudy-text:after {
	content : "";
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	background-image: var(--bacgroundimageprogkievua);
	background-color: rgba(0, 0, 0, .3);
	background-repeat: no-repeat;
	background-size: cover;
	width: 100%;
	height: 100%;
	opacity : 0.3;
	z-index: -1;
}
/* Фоновое изображение для Prog.kiev.ua конец */
.block-gitlab{
	display: block;
	text-align: center;
}
.link-gitlab{
	font-size: 36px;
}
.link-gitlab:hover{
	font-size: 38px;
}
.block-gitlab img{
	width: 200px;
}
.code img{
	width: auto;
	max-width: 450px;
}
.code .big:hover{
	transform: scale(2);
	position: absolute;
	z-index: 999;
}
.exercise{
	max-width: 600px;
	margin-left: auto;
	margin-right: auto;
}
.done-hw{
	display: grid;
	grid-template-rows: 1fr 1fr;
	grid-template-columns: 1fr 1fr;
}
.done-hw-1rows{
	display: grid;
	grid-template-rows: 1fr;
	grid-template-columns: 1fr 1fr;
}
.article-hw1{
	border: solid black;
	border-width: 1px 0px 0px 0px;
	margin-left: 3px;
	margin-right: 3px;
	padding: 10px;
}
/* Анимация процесса начало  */
.in-progress{
	display: flex;
	flex-direction: column;
	text-align: center;
}
.cssload-cssload-wrap2 {
	width: 146px;
	height: 146px;
	overflow: hidden;
	margin-top: 210px;
}
.cssload-wrap {
	position: absolute;
	width: 97px;
	height: 97px;
	left: 50%;
	top: 50%;
	margin-top: -49px;
	margin-left: -49px;
	transform: scale(2);
		-o-transform: scale(2);
		-ms-transform: scale(2);
		-webkit-transform: scale(2);
		-moz-transform: scale(2);
}
.cssload-wrap .cssload-overlay {
	position: absolute;
	width: 100%;
	height: 100%;
	z-index: 100;
	box-shadow: 0 0 24px 37px rgb(255,255,255) inset;
		-o-box-shadow: 0 0 24px 37px rgb(255,255,255) inset;
		-ms-box-shadow: 0 0 24px 37px rgb(255,255,255) inset;
		-webkit-box-shadow: 0 0 24px 37px rgb(255,255,255) inset;
		-moz-box-shadow: 0 0 24px 37px rgb(255,255,255) inset;
}
.cssload-wrap .cssload-cog-wheel {
	position: absolute;
	top: 50%;
	margin-top: -24px;
	width: 49px;
	height: 49px;
}
.cssload-wrap .cssload-cog-wheel.cssload-one {
	left: -6.25px;
	animation: cssload-rotLeft 1.15s infinite linear;
		-o-animation: cssload-rotLeft 1.15s infinite linear;
		-ms-animation: cssload-rotLeft 1.15s infinite linear;
		-webkit-animation: cssload-rotLeft 1.15s infinite linear;
		-moz-animation: cssload-rotLeft 1.15s infinite linear;
}
.cssload-wrap .cssload-cog-wheel.cssload-one .cssload-one:before {
	border: none;
}
.cssload-wrap .cssload-cog-wheel.cssload-two {
	right: -6.25px;
	margin-top: -23px;
	transform: rotate(196deg);
		-o-transform: rotate(196deg);
		-ms-transform: rotate(196deg);
		-webkit-transform: rotate(196deg);
		-moz-transform: rotate(196deg);
	animation: cssload-rotRight 1.15s infinite linear;
		-o-animation: cssload-rotRight 1.15s infinite linear;
		-ms-animation: cssload-rotRight 1.15s infinite linear;
		-webkit-animation: cssload-rotRight 1.15s infinite linear;
		-moz-animation: cssload-rotRight 1.15s infinite linear;
}
.cssload-wrap .cssload-cog-wheel.cssload-two .cssload-one:before {
	border: none;
}
.cssload-wrap .cssload-cog-wheel .cssload-cog {
	position: absolute;
	width: 100%;
	left: 0;
	top: 50%;
}
.cssload-wrap .cssload-cog-wheel .cssload-cog:after {
	display: block;
	position: absolute;
	content: ' ';
	border: 2px solid rgb(0,0,0);
	border-left: none;
	height: 9px;
	width: 5px;
	right: -9px;
	top: -4px;
}
.cssload-wrap .cssload-cog-wheel .cssload-cog:before {
	display: block;
	position: absolute;
	content: ' ';
	border-left: 2px solid rgb(0,0,0);
	height: 10px;
	width: 4px;
	right: -6px;
	top: -13px;
	transform: rotate(-20deg);
		-o-transform: rotate(-20deg);
		-ms-transform: rotate(-20deg);
		-webkit-transform: rotate(-20deg);
		-moz-transform: rotate(-20deg);
}
.cssload-wrap .cssload-cog-wheel .cssload-cog.cssload-one {
	transform: rotate(-80deg);
		-o-transform: rotate(-80deg);
		-ms-transform: rotate(-80deg);
		-webkit-transform: rotate(-80deg);
		-moz-transform: rotate(-80deg);
}
.cssload-wrap .cssload-cog-wheel .cssload-cog.cssload-two {
	transform: rotate(-40deg);
		-o-transform: rotate(-40deg);
		-ms-transform: rotate(-40deg);
		-webkit-transform: rotate(-40deg);
		-moz-transform: rotate(-40deg);
}
.cssload-wrap .cssload-cog-wheel .cssload-cog.cssload-three {
	transform: rotate(0deg);
		-o-transform: rotate(0deg);
		-ms-transform: rotate(0deg);
		-webkit-transform: rotate(0deg);
		-moz-transform: rotate(0deg);
}
.cssload-wrap .cssload-cog-wheel .cssload-cog.cssload-four {
	transform: rotate(40deg);
		-o-transform: rotate(40deg);
		-ms-transform: rotate(40deg);
		-webkit-transform: rotate(40deg);
		-moz-transform: rotate(40deg);
}
.cssload-wrap .cssload-cog-wheel .cssload-cog.cssload-five {
	transform: rotate(80deg);
		-o-transform: rotate(80deg);
		-ms-transform: rotate(80deg);
		-webkit-transform: rotate(80deg);
		-moz-transform: rotate(80deg);
}





@keyframes cssload-rotLeft {
	from {
		transform: rotate(-30deg);
	}
	to {
		transform: rotate(10deg);
	}
}

@-o-keyframes cssload-rotLeft {
	from {
		transform: rotate(-30deg);
	}
	to {
		transform: rotate(10deg);
	}
}

@-ms-keyframes cssload-rotLeft {
	from {
		transform: rotate(-30deg);
	}
	to {
		transform: rotate(10deg);
	}
}

@-webkit-keyframes cssload-rotLeft {
	from {
		transform: rotate(-30deg);
	}
	to {
		transform: rotate(10deg);
	}
}

@-moz-keyframes cssload-rotLeft {
	from {
		transform: rotate(-30deg);
	}
	to {
		transform: rotate(10deg);
	}
}

@keyframes cssload-rotRight {
	from {
		transform: rotate(-174deg);
	}
	to {
		transform: rotate(-214deg);
	}
}

@-o-keyframes cssload-rotRight {
	from {
		transform: rotate(-174deg);
	}
	to {
		transform: rotate(-214deg);
	}
}

@-ms-keyframes cssload-rotRight {
	from {
		transform: rotate(-174deg);
	}
	to {
		transform: rotate(-214deg);
	}
}

@-webkit-keyframes cssload-rotRight {
	from {
		transform: rotate(-174deg);
	}
	to {
		transform: rotate(-214deg);
	}
}

@-moz-keyframes cssload-rotRight {
	from {
		transform: rotate(-174deg);
	}
	to {
		transform: rotate(-214deg);
	}
}
/* Анимация процесса конец  */
footer{
	height: 100%;
	background: #FDAE35;
	display: flex;
	justify-content: space-around;
	align-items: center;
	text-align: center;
	padding-left: 13%;
	padding-right: 13%;
}
.contacts div{
	margin-top: none;
}
.socialnetwork{
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 18px;
	font-weight: bolder;
}
.facebook{
	width: 30px;
	height: 25px;
}
.progs{
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 18px;
	font-weight: bolder;
}
.progs div:nth-child(n){
	margin-right: 5px;
}
.progs-icon{
	display: flex;
	justify-content: center;
}
.vs{
	width: 25px;
	height: 20px;
}
.ps{
	width: 25px;
	height: 25px;
}
.colormania{
	width: 25px;
	height: 25px;
}

@media all and (max-width:1000px) {
	header{
		display: block;
		text-align: center;
	}
	header .head{
		display: block;
	}
	h2{
		max-width: 200px;
	}
	.welcometext p:nth-child(1){
		font-size: 45px;
		margin-top: none;
		margin-bottom: none;
	}
	.aboutmeflex{
		display: block;
		text-align: center;
	}
	.abouthmetext{
		width: auto;
	}
	.abouthmephoto{
		height: 420px;
	}
	.abouthmephoto img{
		width: 370px;
	}
	.welcomepage{
		display: block;
	}
	.welcome-image{
		text-align: center;
	}
	.done-hw{
	grid-template-rows: 1fr;
	grid-template-columns: 1fr;
	}
	.done-hw-1rows{
		grid-template-rows: 1fr;
		grid-template-columns: 1fr;
	}
	.code img{
		width: auto;
		max-width: 200px;
		margin-right: 10px;
		margin-left: 10px;
	}
	.code img:hover{
		transform: scale(1.7);
		z-index: 999;
	}
	.code .big:hover{
		position: static;
		transform: scale(2.3);
	}
	.exercise{
		max-width: 350px;
	}
	.contacts{
		display: block;
		padding-top: 10px;
		padding-bottom: 10px;
	}
	.contacts div{
		margin-top: 10px;
	}
	footer a:hover{
		color: white;
	}
	.socialnetwork{
		display: block;
		text-align: center;
	}
	.progs{
		display: block;
		text-align: center;
	}
	.progs-icon{
	display: flex;
	justify-content: center;
	}
}